/* src/index.css */
@import "tailwindcss";
/* Your other custom CSS goes here if any */


button {
  cursor: pointer;
}

.dark {
  --primary: #1e293b;
  --secondary: #414953;
  --color: rgb(173, 169, 169);
}

@keyframes slideDown {
          from {
            opacity: 0;
            transform: translateY(-10px);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }

        .animate-slideDown {
          animation: slideDown 0.2s ease-out;
        }
