/* src/index.css */
@import "tailwindcss";
/* Your other custom CSS goes here if any */


button {
  cursor: pointer;
}

html.dark {
  --primary: #1b293e;
  --secondary: #4c5661;
  --color: rgb(236, 233, 233);
}

html.light {
  --primary: #f8fafc; 
  --secondary: #f1f5f9;
  --color: #000;
}

@keyframes slideDown {
          from {
            opacity: 0;
            transform: translateY(-10px);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }

        .animate-slideDown {
          animation: slideDown 0.2s ease-out;
        }
